<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<title>コンヴィヴィアルコンピューティング研究室 | 岡山大学</title>
<link rel="icon" href="/static/img/favicon/favicon.ico" sizes="48x48">
<link rel="icon" href="/static/img/favicon/favicon.svg" sizes="any" type="image/svg+xml">
<link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png"/>
<link rel="manifest" href="/static/img/favicon/site.webmanifest" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&family=Noto+Serif+JP:wght@300;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/style.css?v=<%= version %>">
</head>
<body>
<div class="app page <%= pageID %>" id="app" data-type="page">
<header id="header" class="fixed">
  <h1 class="logo clearfix"><a href="/"><span>Convivial Computing Laboratory, Okayama Unviersity（岡山大学大学院 自然科学研究科 コンヴィヴィアルコンピューティング研究室）</span></a></h1>
  <div class="header-fixed">
    <div class="container">
      <div class="ic-drawer" @click="openDrawerMenu"></div>
    </div>
  </div>
  <div class="header-nav">
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/about/"<%= (pageID == 'about') ? ' class=active' : '' %>>研究室紹介</a></li>
          <li><a href="/people/"<%= (pageID == 'people') ? ' class=active' : '' %>>メンバー</a></li>
          <li><a href="/project/"<%= (pageID == 'project') ? ' class=active' : '' %>>プロジェクト</a></li>
          <li><a href="/publication/"<%= (pageID == 'publication') ? ' class=active' : '' %>>研究業績</a></li>
          <li><a href="/access/"<%= (pageID == 'access') ? ' class=active' : '' %>>アクセス</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>